@import "../utils/vars"; 
@import "../utils/mixins"; 

.form-wrapper {
    padding: 0 32px;
  }
  
  .form {
    width: 100%;
  
      &__input-wrapper {
        display: block;
        position: relative;
      }

      &__input-wrapper_search {
        width: 985px;
        margin-right: 20px;

        @media screen and (max-width: 1000px) {
          margin-right: 0;
          margin-bottom: 20px;
        }   
      }
  
      &__label {
        display: block;
        position: absolute;
        top: 16px;
        left: 16px;
        transition: all 0.2s linear;
        color: $no-active-color;
        
      }
  
      &__label-focused {
        top: 6px;
        font-size: 13px;
        line-height: 20px;
      }
  
      &__input {
        @include input-look;
        width: 100%;
        margin-bottom: 20px;
        background: #fff;
      }
  
      &__button {
        @include button;
        width: 100%;
        padding: 10px;
        color: #fff;
        margin-bottom: 8px;
        background-color: $content-button-after-background;
        border-radius: 4px;
        border: 2px solid transparent;
        transition: background-color 200ms linear;
  
        &:hover {
          background-color: $button-hover-color;
        }
  
        &:active {
          background-color: $button-active-color;
        }
  
        &:focus {
          outline: none;
          border: 2px solid #472C8A;
        }
      }
    
    &__accept {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }
  
    &__accept-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  
  
    &__accept-label {
      display: inline-block;
      
  
      &::before {
        content: "";
        color: #000;
        display: inline-block;
        margin-right: 12px;
        position: relative;
        width: 24px;
        height: 24px;
        background: #FFF;
        border: 1px solid #D4D4D4;
        border-radius: 4px;
        vertical-align: middle;

        @media screen and (max-width: 420px) {
          width: 16px;
          height: 16px;
          top: -1px;
        } 
  
      }
    }
  
    .form__accept-input:checked + .form__accept-label:before {
      background-color: $content-button-after-background;
      background-image: url(../images/checkbox/vector.png);
      background-repeat: no-repeat;
      background-position: center;
      transition: background-color 200ms linear;
    }
  
    .form__accept-input:checked:hover + .form__accept-label:before {
      background-color: $button-hover-color;
    }
  
    .form__accept-input:checked:active + .form__accept-label:before {
      background-color: $button-active-color;
    }
  
    .form__accept-input:checked:focus + .form__accept-label:before {
      border: 2px solid rgba(17, 17, 17, 0.48);
    }
  
    &__accept-link {
      @include nav_link;
      @include reset-link;
      color: $color-purple;
    }
  }