$font-family-main: roboto, sans-serif;
$font-family-heading: montserrat, sans-serif;;
$no-active-color: rgba(17, 17, 17, 0.48);
$color-black: #000;
$color-purple: #6E41E2;
$main-color: #111;
$content-button-after-background: #6E41E2;
$button-hover-color: #5835B0;
$button-active-color :#472C8A;
$button-light-hover-color: rgba(255, 255, 255, 0.88);
$buttons-user-color: $color-purple;
$signIn-form-z-index: 30;
$nav-mobile-z-index: 20;