@import "../../utils/mixins";
@import "../../utils/vars"; 

.sign-in-form-wrapper {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	z-index: $signIn-form-z-index;
}

.sign-in-form {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	padding: 32px 0 42px;
	width: 474px;
	box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
	border-radius: 8px;

	@media screen and (max-width: 420px) {
        width: 320px;
      }    

	&__title {
		@include heading;
		@include head-sign-in-form;
		color: $color-black;
		padding-left: 32px;
		margin: 0 0 19px;
	}

	&__list {
		padding: 0 32px;
		margin: 0;
		width: 100%;
		list-style: none;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #F1F1F1;
		padding-bottom: 14px;
	}

	&__item {
		display: inline-block;
		margin-right: 24px;
	}

	&__link {
		@include nav_link;
		@include reset-link;
		color: #6b6b6b;
		padding-bottom: 18px;
		position: relative;

		&:hover,
		&:focus {
			color: $main-color;
		}

		&:after {
			@include link-after;
			width: 0;
			transition: width 0.1s linear;
		}

		&:hover:after {
			@include link-after-focus-hover;
		}

		&.active:after {
			@include link-after-focus-hover;
		}

		&:focus:after {
			@include link-after-focus-hover;
		}
	}
}