@import "../../utils/vars"; 
@import "../../utils/mixins"; 

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 474px;
  background: #FAFAFA;
  font-family: $font-family-main;
  font-size: 13px;
  line-height: 20px;
  padding: 0 32px;
  margin-bottom: 24px;

    &__icons {
      padding: 12px 0;
    }

    &__icon {
      display: inline-block;
      margin-right: 8px;
      height: 36px;
      width: 36px;

      &:last-child {
        margin-right: 0;
      }
    }
}

.form {
  width: 100%;
  padding: 0 32px;

    &__input-wrapper {
      display: block;
      position: relative;
    }

    &__label {
      display: block;
      position: absolute;
      top: 16px;
      left: 16px;
      transition: all 0.2s linear;
      color: $no-active-color;
      
    }

    &__label-focused {
      top: 6px;
      font-size: 13px;
      line-height: 20px;
    }

    &__input {
      @include input-look;
      width: 100%;
      margin-bottom: 20px;
      background: #fff;
      transition: box-shadow 0.2s linear;

      &:hover {
        box-shadow: 0px 4px 24px rgba(51, 51, 51, 0.24), 0px 4px 4px rgba(51, 51, 51, 0.04);
      }

      &:focus {
        box-shadow: 0px 4px 24px rgba(51, 51, 51, 0.24), 0px 4px 4px rgba(51, 51, 51, 0.04);
      }
    }

    &__button {
      @include button;
      width: 100%;
      padding: 10px;
      color: #fff;

      background-color: $content-button-after-background;
      border-radius: 4px;
    }
}