@import "../../utils/vars"; 
@import "../../utils/mixins"; 

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 474px;
  background: #FAFAFA;
  font-family: $font-family-main;
  font-size: 13px;
  line-height: 20px;
  padding: 0 32px;
  margin-bottom: 24px;

    &__icons {
      padding: 12px 0;
    }

    &__icon {
      display: inline-block;
      margin-right: 8px;
      height: 36px;
      width: 36px;
      transition: transform 200ms linear;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        transform: scale(1.2);
      }

      &:focus {
        outline: none;
        transform: scale(1.2);
      }
    }
}

.redirect-sign-in {
  display: block;
  width: 100%;
  height: 44px;
  border-radius: 4px;
  padding: 10px 0;
  @include reset-link;
  @include nav_link;
  text-align: center;
  color: $content-button-after-background;
  border: 2px solid transparent;

  &:hover {
    background-color: $button-light-hover-color;
  }

  &:active {
    background: rgba(255, 255, 255, 0.96);
  }

  &:focus {
    border: 2px solid #472C8A;
  }
}